body {
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 8px;
}

.container {
  max-width: 1000px;
  padding: 3rem 0px 3rem 0px;
  margin: 0 auto;
}
